.input{
    position: relative;
    display: block;
    margin: 16px 0;
    width: 100%;
}

.input--error{
    animation-name: input-error;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.input__placeholder{
    display: block;
    padding: 2px 4px;
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 1.5rem;
    background-color: var(--night);
    color: var(--onyx);
    transition: transform 0.25s ease, font-size 0.25s ease, color 0.25s ease;
}

.input--filled>.input__placeholder{
    font-size: 1.3rem;
    transform: translate(-8px, -20px);
}

.input>input{
    padding: 8px 16px;
    border-radius: var(--border-sm);
    border: 1px solid var(--raisin-black);
    width: 100%;
    font-size: 1.5rem;
    color: var(--onyx);
    background-color: var(--night);
}

.input>input:focus{
    outline: 1px solid var(--blue-green);
    border: 1px solid var(--blue-green);
    color: var(--nyanza);
}

.input>input:focus ~ .input__placeholder{
    font-size: 1.3rem;
    color: var(--blue-green);
    transform: translate(-8px, -20px);
}

.input__message{
    display: none;
    margin-top: 4px;
    font-size: 1.3rem;
    color: #ff507aff;
}

.input--error > span.input__message{
    display: block;
}

@keyframes input-error {
    0%, 50%, 100%{
        transform: translateX(0);
    }

    25%{
        transform: translateX(-10px);
    }
     75%{
        transform: translateX(-10px);
     }
}