.input{
    position: relative;
    display: block;
    margin: 16px 0 0;
    width: 100%;
    border-radius: var(--border-sm);
    border: 1px solid var(--raisin-black);
}

.input--filled .input__placeholder{
    font-size: 1.2rem;
    top: 8px;
}

.input--error{
    animation-name: input-error;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    border: 1px solid #ff507aff;
}

.input__header{
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 8px 16px 4px 16px;
}

.input__placeholder{
    display: block;
    position: absolute;
    left: 16px;
    top: 25px;
    font-size: 1.5rem;
    width: 80%;
    background-color: var(--doctor);
    color: var(--raisin-black);
    transition: top 0.25s ease, font-size 0.25s ease, color 0.25s ease;
}

.input>input{
    outline: none;
    border: none;
    padding: 0px 16px 8px;
    width: 100%;
    font-size: 1.5rem;
    color: var(--carbon);
    background-color: inherit;
}

.input__header:has(+ input:focus)>.input__max-length--visible{
    opacity: 1;
}

.input__header:has(+ input:focus)>.input__placeholder{
    color: var(--blue-green);
    font-size: 1.2rem;
    top: 8px;
}

.input:has(input:focus){
    outline: 2px solid var(--blue-green);
}

.input>input:focus{
    color: var(--carbon);
}

.input__message{
    margin-top: 4px;
    font-size: 1.3rem;
    color: #ff507aff;
}

.input--error > span.input__message{
    display: block;
}

.input__max-length{
    font-size: 1.2rem;
    color: var(--raisin-black);
    opacity: 0;
}

@keyframes input-error {
    0%, 50%, 100%{
        transform: translateX(0);
    }

    25%{
        transform: translateX(-10px);
    }
     75%{
        transform: translateX(-10px);
     }
}