.input{
    position: relative;
    display: block;
    margin: 16px 0;
    width: 100%;
    border-radius: var(--border-sm);
    border: 1px solid var(--raisin-black);
}

.input--filled>.input__placeholder{
    top: 5px;
}

.input--error{
    animation-name: input-error;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.input__placeholder{
    display: block;
    position: relative;
    padding: 2px 0px 0 16px;
    font-size: 1.5rem;
    width: 90%;
    background-color: var(--doctor);
    color: var(--carbon);
    top: 23px;
    transition: top 0.25s ease, font-size 0.25s ease, color 0.25s ease;
}

.input>input{
    outline: none;
    border: none;
    padding: 8px 16px;
    width: 100%;
    font-size: 1.5rem;
    color: var(--carbon);
    background-color: inherit;
}

.input__placeholder:has(+ input:focus){
    color: var(--blue-green);
    top: 5px;
}

.input:has(input:focus){
    outline: 2px solid var(--blue-green);
}

.input>input:focus{
    color: var(--carbon);
}

.input__message{
    display: none;
    margin-top: 4px;
    font-size: 1.3rem;
    color: #ff507aff;
}

.input--error > span.input__message{
    display: block;
}

@keyframes input-error {
    0%, 50%, 100%{
        transform: translateX(0);
    }

    25%{
        transform: translateX(-10px);
    }
     75%{
        transform: translateX(-10px);
     }
}