:root {
  --ceruleean:    #086788;
  --blue-green:   #07A0C3;
  --black:        #07020d;
  --night:        #0C0812;
  --onyx:         #616863;
  --nyanza:       #E2FADB;
  --raisin-black: #1D1B23;
  --border-sm: 3px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  font-family: 'Quicksand', sans-serif;
}


body{
  background-color: var(--night);
}

input,
textarea,
select{
  font-family: 'Quicksand', sans-serif;
}