:root {
  --ceruleean:      #086788;
  --pristine-seas:  #0f7496;
  --blue-mana:      #d4eeffff;
  --blue-green:     #1D9BF0;
  --gummy-dolphins: #10aed1;
  --exotic-escape:  #84c8e2;
  --beluga:         #eff3f4;
  --seaweed:        #1ad086;
  --mint-coffee:    #d3faeb;
  --borderline-pink:#f50a6d;
  --sweetly:        #ffe3ef;
  --silent-night:   #536471;
  --black:          #07020d;
  --night:          #0f0916;
  --onyx:           #f0f0f0;
  --dark-prince:    #677186;
  --stormy-oceans:  #302942;
  --nyanza:         #E2FADB;
  --doctor:         #f8f8f8;
  --white-smoke:    #f5f5f5;
  --sheikh-white:   #e2e2e2;
  --carbon:         #343434;
  --raisin-black:   #949494;

  --border-sm: 3px;
  --border-n: 16px;
  --border-md: 30px;
  --max-size-page: 1300px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  font-family: 'Quicksand', sans-serif;
}

body{
  background-color: var(--doctor);
}

input,
button,
textarea,
select{
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
}



.main-content{
  display: flex;
  width: 100%;
  max-width: var(--max-size-page);
  margin: 0 auto;
}

.page-content{
  width: 100%;
  max-width: 650px;
  border: 1px solid var(--onyx);
}

button{
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.title{
  margin-bottom: 24px;
  font-size: 3rem;
  color: var(--blue-green);
}

.subtitle{
  margin-bottom: 16px;
  font-size: 2rem;
  font-weight: 900;
  color: var(--carbon);
}

.label{
  font-size: 1.5rem;
  color: var(--onyx);
  margin-bottom: 8px;
}

.info{
  font-size: 1.5rem;
  color: var(--onyx);
}

.info--darker{
  color: var(--raisin-black);
}

.pd-nm{
  padding: 8px 16px;
}

.mr-bt{
  margin-bottom: 16px;
}

.bd-bt{
  border-bottom: 1px solid var(--onyx);
}

.info > a{
  text-decoration: none;
  color: var(--blue-green);

  transition: color 0.25s ease;
}

.info > a:hover{
  color: var(--ceruleean);
}

.flex{
  display: flex;
}

.flex--gap-md{
  gap: 15px;
}

.flex--gap-sm{
  gap: 5px;
}

.flex--between{
  justify-content: space-between;
}

.flex--center-m{
  justify-content: center;
}

.flex-wrap{
  flex-wrap: wrap;
}

.flex-center-s{
  align-items: center;
}

.flex--direction-v{
  flex-direction: column;
}

.flex--align-start{
  align-items: start;
}

.inactive{
  display: none;
}