:root {
  --ceruleean:      #086788;
  --pristine-seas:  #0f7496;
  --blue-green:     #1D9BF0;
  --gummy-dolphins: #10aed1;
  --black:          #07020d;
  --night:          #0f0916;
  --onyx:           #e2e2e2;
  --dark-prince:    #677186;
  --stormy-oceans:  #302942;
  --nyanza:         #E2FADB;
  --doctor:         #f8f8f8;
  --sheikh-white:   #e2e2e2;
  --carbon:         #343434;
  --raisin-black:   #949494;

  --border-sm: 3px;
  --border-md: 30px;
  --max-size-page: 1300px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  font-family: 'Quicksand', sans-serif;
}

body{
  background-color: var(--doctor);
}

input,
button,
textarea,
select{
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
}

.main-content{
  display: flex;
  width: 100%;
  max-width: var(--max-size-page);
  margin: 0 auto;
}

.page-content{
  width: 100%;
}

button{
  cursor: pointer;
}

.title{
  margin-bottom: 24px;
  font-size: 3rem;
  color: var(--blue-green);
}

.subtitle{
  font-size: 2.4rem;
  color: var(--ceruleean);
}

.label{
  font-size: 1.5rem;
  color: var(--onyx);
  margin-bottom: 8px;
}

.info{
  font-size: 1.5rem;
  color: var(--onyx);
}

.info > a{
  text-decoration: none;
  color: var(--blue-green);

  transition: color 0.25s ease;
}

.info > a:hover{
  color: var(--ceruleean);
}