.form{
    position: relative;
    width: 100%;
    padding: 8px 16px 24px;
    border-radius: var(--border-n);
    background-color: var(--doctor);
    height: 650px;
}

.form--80{
    max-height: 90vh;
}

.form--no-overflow{
    overflow: hidden;
}

.form--center{
    margin: auto;
}

.form--md{
    max-width: 600px;
}

.form--space{
    margin-top: 24px;
    margin-bottom: 24px;
}

.form--paddlog{
    padding: 24px 80px;
}