.input{
    display: block;
    padding: 8px 16px;
    border: 1px solid var(--silent-night);
    border-radius: var(--border-md);
    outline: none;
    font-size: 1.5rem;
}

.input__haighlight{
    color: var(--blue-green);
}