.header{
    position: sticky;
    border-bottom: 1px solid var(--sheikh-white);
}

.header--margin{
    margin: 16px;
}

.header__title-section{
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__backwards{
    padding: 8px;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background-color: inherit;
}

.header__backwards:hover{
    background-color: var(--onyx)
}

.header__backwards>svg{
    width: 100%;
    height: 100%;
}

.header__title{
    font-size: 2rem;
    color: var(--carbon);
}

.header__buttons{
    display: flex;
}

.header__buttons>.header-button{
    flex-grow: 1;
}