.grid-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc( 50% - 5px ), 1fr));
    width: 100%;
    max-width: 512px;
    gap: 5px;
    border-radius: var(--border-n);
    overflow: hidden;
    border: 1px solid var(--onyx);
}

.grid-gallery--3,
.grid-gallery--4
{
    grid-auto-rows: 120px;
}

.grid-gallery--3>div.grid-gallery__item:first-of-type{
    grid-row: 1 / span 2;
}