.side-navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    max-width: 275px;
    font-size: 2rem;
    font-weight: 500;
    color: var(--onyx);
    border-right: 1px solid var(--onyx);
}
.side-navigation>ul{
    list-style-type: none;
}

.side-nav__item{
    cursor: pointer;
}

.side-nav__item>button{
    padding: 12px;
    font-size: 1.8rem;
    width: 80%;
    margin: 8px auto;
    font-weight: 700;
}

.side-nav__item a{
    display: flex;
    cursor: pointer;
    align-items: center;
    width: max-content;
    gap: 25px;
    padding: 14px 24px 14px 16px;
    border-radius: var(--border-md);
    color: var(--carbon);
    text-decoration: none;
}

.side-nav__item--logo{
    cursor: default;
}

.side-nav__item--logo a{
    margin-left: 8px;
    padding: 12px;
}

.side-nav__item:hover a{
    background-color: var(--sheikh-white);
}

.side-nav__item--active a{
    font-weight: 700;
}

.side-nav__footer{
    padding: 8px;
}

.side-nav__footer-btn{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    border: none;
    border-radius: var(--border-md);
    padding: 8px 16px;
    justify-content: space-between;
    background-color: inherit;
}

.side-nav__footer:hover > .side-nav__footer-btn{
    background-color: var(--sheikh-white);
}

.side-nav__footer-btn>img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: contain;
}
.side-nav__footer-btn>p{
    flex-grow: 2;
}

.side-nav__footer-btn>button{
    flex-grow: 1;
}


.side-nav__footer-btn>p>span{
    display: block;
    text-align: left;
}

.side-nav__footer-btn>p>span:first-of-type{
    font-size: 1.8rem;
    color: var(--night);
}

.side-nav__footer-btn>p>span:last-of-type{
    font-size: 1.6rem;
    color: var(--raisin-black);
}